@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Carter+One&family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* font-family: 'Cabin', sans-serif; slim
font-family: 'Carter One', cursive; titles
font-family: 'Montserrat', sans-serif; slim 
font-family: 'Quicksand', sans-serif;slim*/
:root {
  --blue: #16697a;
  --blue-: #489fb5;
  --blue--: #82c0cc;
  --white: #ede7e3;
  --orange: #ffa62b;
}

body {
  background: #ede7e3;
  font-family: "Cabin", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title-page {
  font-family: 'Montserrat', sans-serif;
  width: 500;
  font-size: 6vh;
}
/* main fields------------------------------------------------------------------------------------------------------------------ */
.control-field,
.view-field {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  padding: 0;
  margin: 1.5vh;
}
@media only screen and (max-width: 800px) {
  .control-field,
  .view-field {
    width: 80vw;
  }
}
.legend {
  font-family: "Quicksand", sans-serif;
  word-spacing: 0.2em;
  font-size: 1.5em;
}
#counter {
  font-style: inherit;
  font-weight: bold;
}

/* --------------------------------------------------------------------------------------add tasks */
.add-tasks {
  width: 100%;
  display: flex;
  height: 4vh;
  grid-row: 1/2;
}

.flex-effect {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: font-size, border-bottom, flex-grow 0.5s;
  border: 0 solid var(--blue);
  background: white;
  text-align: center;
  border-bottom: 3px solid var(--blue);
  outline: 0;
  appearance: none;
  height: 4vh;
  align-self:flex-end;
  padding: 0;
  color: var(--blue);
  font-family: "Cabin", sans-serif;
}

.flex-effect:hover,
#text-input:focus,
#priority-selector:hover {
  flex-grow: 4;
  font-size: 1rem;
  border-bottom: 3px solid var(--orange);
  text-align: center;
  color: var(--blue);
}
#text-input::placeholder {
  color: var(--blue-);
  text-align: start;
}

.control-field {
  display: grid;
  grid-template-rows: 1fr 1fr;
}


/* ------------------------------------------------------------------------------------------------------------------ veiw tasks*/

.todo-container {
  display: grid;
  width: auto;
  height: 50px;
  margin: 1.5vh 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 0.8vh;
=======
  padding: 1.5vh;
>>>>>>> parent of 20d9051... finish done button
=======
  padding: 1.5vh;
>>>>>>> parent of 20d9051... finish done button
=======
  padding: 1.5vh;
>>>>>>> parent of 20d9051... finish done button
=======
  padding: 1.5vh;
>>>>>>> parent of 20d9051... finish done button
  border-radius: 5px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: "Montserrat", sans-serif;
}
.todo-container:nth-of-type(even) {
  background-color: var(--blue--);
}
.todo-text {
  grid-row: 1/2;
  grid-column: 1/3;
  overflow: visible;
  align-self: start;
  text-align: start;
}

.todo-created-at {
  grid-row: 1/2;
  grid-column: 3/4;
  overflow: visible;
  font-size: 0.7rem;
  text-align: end;
}

.todo-priority {
  grid-row: 2/3;
  grid-column: 1/2;
  overflow: visible;
  align-self: end;
}
/* -----------------------------------------------------------------------------delete and done buttons */
.buttons-delete-check {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid gray; */
  border-radius: 5px;
  font-size: 12px;
}
.task-btn {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  border: none;
  text-align: center;
  padding: 0;
  background:white;
  color: var(--blue);
}

.delete-btn .tag::after {
  position: relative;
  content: "🗑";
  transition: all 0.5s;
}
.done-btn .tag::after {
  position: relative;
  content: "👌";
  transition: all 0.5s;
}
.delete-btn:hover {
  color: red;
  flex-grow: 4;
}
.done-btn:hover {
  color: green;
  flex-grow: 4;
}
.task-btn:hover .tag {
  display: none;
}
.done-btn:hover::before {
  content: "Done";
  font-weight: bold;
  text-align: center;
  transition: color, flex-grow 0.5s;
}

.delete-btn:hover:before {
  content: "Delete";
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
}

.delete-btn:hover:after .buttons-delete-check {
  background-color: var(--blue-);
  color: white;
}
.done-btn:hover::after .buttons-delete-check {
  background-color: var(--orange);
  color: white;
}

@media only screen and (max-width: 800px) {
  
}